@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bakbak+One&family=Hammersmith+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #374a67;
  --color-purple: #616283;
  --color-green: #8daa9d;
  --color-red: #d44d5c;
  --color-pink: #e3b5a4;
}

html {
  background: radial-gradient(
    circle at center,
    #374a67,
    #2c3e56 50%,
    black 100%
  );
}

@keyframes rotateThenDrop {
  40% {
    transform: rotate(45deg) translateY(0);
  }
  60% {
    transform: rotate(65deg) translateY(0);
  }
  70% {
    transform: rotate(35deg) translateY(10%);
  }
  80% {
    transform: rotate(45deg) translateY(10%);
  }
  100% {
    transform: rotate(45deg) translateY(100%);
  }
}
